
.icon-location-2:before { content: '\e811'; } /* '' */
.icon-right-open-big:before { content: '\e812'; } /* '' */
.icon-left-open-big:before { content: '\e813'; } /* '' */
.icon-up-open-big:before { content: '\e814'; } /* '' */
.icon-down-open-big:before { content: '\e815'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */